{% extends "basedoc.html" %}

{% block h1 %} About Page {% endblock %}
{% block subh %}  | Some info about this blog {%endblock%}
{%block body%}


<div class="row justify-content-center">
      <div class="col-12 detail-div col-sm-9">
<p>
This is a blog I've set up recently, using Django. It's by no means a finished product and it still needs a lot of work on the front-end part especially, 
but the part I focused on was the backend, not the front-end, which I'm a little less interested in.
</p>
<p>
Still, it's pretty navigable by and large.
</p>
<p>
The content on the pages here is obviously just filler so that there's something to display.
</p>

</div>
</div>


{%endblock%}
